<div class="row">
  <div class="col-md-12">
    <h4>Annual Leave Requests:</h4>
    <hr>
  </div>
  <div class="col-md-12">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Start</th>
          <th>End</th>
          <th>Reason</th>
          <th>Requester</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @vacation_requests.each do |request| %>
          <tr>
            <td><%= request.start %></td>
            <td><%= request.end %></td>
            <td><%= request.reason %></td>
            <td><%= "#{request.user.try(:first_name)} #{request.user.try(:last_name)}" %></td>
            <td>
              <% if current_user.admin? || current_user == request.user %>
                <%= link_to "Remove", vacation_request_path(request), method: :delete , class: "btn btn-sm btn-warning" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
